app = "brain-games-app"
primary_region = "sjc"

[build]
  dockerfile = "Dockerfile"

[env]
  FLASK_ENV = "production"

[[services]]
  protocol = "tcp"
  internal_port = 8080
  external_port = 80

  [services.concurrency]
    type = "connections"
    hard_limit = 25
    soft_limit = 20
