app = "brain-games-app"
primary_region = "sjc"

[build]
  dockerfile = "Dockerfile"

[env]
  FLASK_ENV = "production"

[[services]]
  protocol = "tcp"
  internal_port = 8080
  external_port = 80

  [services.http_checks]
    enabled = true
    path = "/"

  [[services.ports]]
    handlers = ["http"]
    port = 80

  [[services.ports]]
    handlers = ["tls", "http"]
    port = 443

[mounts]
source = "brain_games_data"
destination = "/data"